.img_exercices{
  
    height: 200px;
    width: 200px;
    display: flex;  
    align-items: center;
    align-self: center; 
 

}
.Vds{
  display: flex;
  
  justify-content: center;
  /* border: 1px solid #000; */
}
.card_border{
    border-top: 4px solid #c11f1f !important;
}
.exercices{
    align-items: center;
    justify-content: center;
    
}
.title6{
    font-size: 34px;
    font-weight:450px; 
}
.btn_exercices1{
    border-radius: 20px;
    text-transform: capitalize;
    background-color: #ffa9a9;
    color: #fff;
    font-size: 16px;
 
}
.btn_exercices2{
    color: #000;
    background-color: #fcc757;
    font-weight:500;
    text-transform: capitalize;
    font-size: 14px;
    border-radius: 20px;
}
.bodyPart_name{
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-transform: capitalize; 
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    align-items: center;
    align-self: center;
    margin: 0px;
    align-content: center;
}
.cards_item:hover{
    transform: scale(1.05);
    transition: 0.5s;
   cursor: pointer;

}

/* Wave text loader made by: csozi | Website: english.csozi.hu*/
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #ee0909;
    margin: -4px 0 0 -4px;
  }
  
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  





  .button {
    width: 38px;
    height: 82px;
    padding: 2px;
    border: 1px solid #474747;
    border-radius: 50px;
    background: rgba(141, 141, 141, 0.18);
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);
  }
  
  .svg {
    width: 22px;
    height: 62px;
    transform: rotate(180deg);
  }
  
  .button:hover {
    transform: scale(-1.2);
  }
  
  .button:focus {
    height: 0px;
    width: 0px;
    padding: 0px;
    border: 0px;
  }
  
  .button:focus > .svg {
    display: none;
    height: 0px;
  }
    
.cards_item{
  text-decoration: none;
}
    
.link{
  text-decoration: none;
  color: #000;
 
}