.img_exercices{
  
    height: 200px;
    width: 200px;
    display: flex;  
    align-items: center;
    align-self: center; 
 

}
.card_border{
    border-top: 4px solid #c11f1f !important;
}
.exercices{
    align-items: center;
    justify-content: center;
    
}
.title6{
    font-size: 34px;
    font-weight:450px; 
}
.btn_exercices1{
    border-radius: 20px;
    text-transform: capitalize;
    background-color: #ffa9a9;
    color: #fff;
    font-size: 16px;
 
}
.btn_exercices2{
    color: #000;
    background-color: #fcc757;
    font-weight:500;
    text-transform: capitalize;
    font-size: 14px;
    border-radius: 20px;
}
.bodyPart_name{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
}