.title5{
    font-size: 44px;
    font-weight: 700; 
}
.title5resize{
    font-size: 25px !important;
    font-weight: 700; 
}
.input1{
    font-weight: 700;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    border-radius: 3px;

}
.btn{
    text-transform: none;
}
.img-fluid{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    border: 2px solid #f4ff;
}