.p1_similar{
    font-size: 40px;
    font-weight: 700;
    color: #000;
}

.p2_similar{
     font-size:21px;
    font-weight: 600;
    color:"#000" !important;
    text-decoration: none !important;
}
.img_vd{
    height: 90%;
    width: 70%;
}